.container {
    margin: auto;
    padding: auto;
    text-align: center;
  }

.form-class {
    border: 1px solid #e7e7e7;
    margin: 80px auto;
    margin-top: 0px;
    width: 300px;
    padding: 40px 40px 40px 40px;
    /*
    border: 1px solid #e7e7e7;
    margin: 80px auto;
    width: 645px;
    height: 353px;
    padding: 107px 40px 40px 40px;
    */
  }

.input-box {
    display: block;
    position: relative;
}

.btn-primary:hover {
  background-color: #021D49;
  border-color: #021D49;
}

.btn-primary {
  background-color: grey;
  color: white;
  border-color: grey;
}  


