{% extends 'base_template.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
    <a class="back-link" href="{% url 'user-settings' %}"><i class="bi bi-arrow-bar-left"></i></a>
    <h1>Change Password</h1>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="" type="submit" value="Change">

        {% if messages %}    
            {% for message in messages %}
                <p class="message">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </form>
  
{% endblock %}