{% extends 'base_template.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
    {% comment %} <a class="back-link" href="{% url '' %}"><i class="bi bi-arrow-bar-left"></i></a> {% endcomment %}
    <br>
    <div class="container" style="text-align:center;">
        <h2>Settings</h2>
        
        <p class="settings-data"><a href="{% url 'user-password-change' %}">Change password</a></p>
        
        {% if messages %}    
            {% for message in messages %}
                <p class="message">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <div class="">    
            <h4>Profile Information</h4>
            <p>Name: {{ last_name }} {{ first_name }}</p>
            <p>Email: {{ email }}</p>
            <p>Root branch: {{ branch }}</p>
        </div>

        <div class="">
            <h4>Branch Access</h4>
            {% for access in access_list %}
                <p>{{ access }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}