{% extends "base_template.html" %}

{% block title %}Login{% endblock %}

{% block static_imports %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login2.css' %}">
{% endblock %}

{% block nav %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<br>
<br>
    <form method="POST" action="" class="form-class">
        {% csrf_token %}
    
        <div class="input-box">
            <input type="text" name="email" placeholder="Email" id="email-field" value="{{ email }}" required>
        </div>

        <div class="input-box">
            <input type="password" name="password" placeholder="Password" id="password-field" required>
        </div>

        <div>
            <button class="submit-btn">Login</button>
        </div>

        {% comment %} <div class="bottom-links">
            <p>Forgot password? <a href="{% url 'password_reset' %}">Reset password</a></p>
        </div> {% endcomment %}
        
        {% if error_message %}
            <div>
                {{ error_message }}
            </div> 
        {% endif %}
    </form>

    
{% endblock %}