:root {
    --gray: rgb(100, 100, 100);
    --dark-gray: rgb(73, 73, 73);
    --white: #ffffff;
    --gefco-blue: #021D49;
    --gefco-red: #E1261C;
  }

body {
    color: var(--dark-gray);
    font-family: 'Nunito', sans-serif;
}

.container {
    margin: auto;
    background-color: #fff;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}


/* GENERAL FORM */
form div {
    margin: 5px;
}

form input, form select {
    border: 2px solid var(--dark-gray);
    color: var(--dark-gray);
    background-color: white;
    border-radius: 4px;
    padding: 7px;
    width: 35%;
}

form input[type=checkbox] {
    width: auto;
}


/* BUTTONOS */
.submit-btn { 
    background-color: white;
    color: var(--dark-gray);
    border: 2px solid var(--dark-gray);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: var(--gefco-blue);
    border-color: var(--gefco-blue);
    color: white;
    transition: all 0.8s
}



.blue {
    background-color: var(--gefco-blue);
    padding: 0%;
}

.red {
    background-color: var(--gefco-red);
    padding: 0%;
}


/* FUNCTION BAR ADD & SERACH   */
.functions-bar {
    display: flex;
    justify-content: space-between;
}

.functions-bar input {
    width: auto;
}

/* search */
.search-button {
    border: 0;
    color: var(--gray);
    background-color: var(--white);
    border-radius: 3px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.search-button:hover {
    color:var(--gefco-blue);
}

.submit-btn:hover {
    color:var(--gefco-blue);
}

.search-field {
    border: 2px solid var(--gray);
    padding: 0.5px; 
} 

.pagination {
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex; 
    display: flex;         
    
    justify-content: center;
    align-items: center;
}

.pagination a {
    color: var(--gray);
}


#err {
    color : var(--gefco-red);
}

.errInput {
    border-color: var(--gefco-red);
    color: var(--dark-gray);
}

h2 {
    color:var(--gefco-blue); 
}

.bi:hover {
    color:var(--gefco-red); 
}

.btn-primary:hover {
    background-color: #021D49;
    border-color: #021D49;
  }
  
.btn-primary {
    background-color: grey;
    color: white;
    border-color: grey;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
} 

#back {
    float: right;
    padding-right: 35px;
}

.text {
    color: black; 
    font-size: 20px;
}

.formular {
    color:black;
}

.formular2 input, select{
    color:black;
    float: right;
    width: 300px;
}

.formular2{
    color: black;
    display: flex;
    flex-direction: column;
    width: 500px;
}

#btn-f2{
    width: 100px;
    float: right;
    background-color: grey;
    color: white;
    border-color: grey;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;

    margin-left: auto;
}

#id_is_superuser {
    width: 15px;
    float: right;
    margin-left: auto;
}

#id_is_active {
    width: 15px;
    float: right;
    margin-left: auto;
}

#btn-f2:hover {
    background-color: #021D49;
    border-color: #021D49;
}


#id_branch {
    padding-right: 105px;
}