:root {
    --gray: rgb(100, 100, 100);
    --dark-gray: rgb(73, 73, 73);
    --white: #ffffff;
    --gefco-blue: #021D49;
    --gefco-red: #E1261C;
  }

body {
    color: var(--dark-gray);
    font-family: 'Nunito', sans-serif;
}

.container {
    margin: auto;
    background-color: #fff;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}


/* GENERAL FORM */
form div {
    margin: 5px;
}

form input, form select {
    border: 2px solid var(--dark-gray);
    color: var(--dark-gray);
    background-color: white;
    border-radius: 4px;
    padding: 7px;
    width: 35%;
}

form input[type=checkbox] {
    width: auto;
}


/* BUTTONOS */
.submit-btn { 
    background-color: white;
    color: var(--dark-gray);
    border: 2px solid var(--dark-gray);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: var(--gefco-blue);
    border-color: var(--gefco-blue);
    color: white;
    transition: all 0.8s
}



.blue {
    background-color: var(--gefco-blue);
    padding: 0%;
}

.red {
    background-color: var(--gefco-red);
    padding: 0%;
}


/* FUNCTION BAR ADD & SERACH   */
.functions-bar {
    display: flex;
    justify-content: space-between;
}

/* search */
.search-button {
    border: 0;
    color: var(--gray);
    background-color: var(--white);
    border-radius: 3px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.search-button:hover {
    color:var(--gefco-blue);
}

.search-field {
    border: 2px solid var(--gray);
    padding: 0.5px; 
} 

.pagination {
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex; 
    display: flex;         
    
    justify-content: center;
    align-items: center;
}

.pagination a {
    color: var(--gray);
}


#err {
    color : var(--gefco-red);
}

.errInput {
    border-color: var(--gefco-red);
}