{% extends 'base_template.html' %}

{% block title %}Add transportation{% endblock %}

{% block static_imports %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/transport.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="bi bi-arrow-bar-left btn btn-lg" id="back" href="{% url 'transportation-list' %}"></a>
            </div>
            <div class="col-6" style="text-align: center;">
                <h2>{{ form_name }}</h2>
            </div>
            <div class="col">
            </div>
        </div>
    </div>

    <div class="transport d-flex justify-content-center" style="overflow-x:auto;">
        <form action="" method="POST" onSubmit="return validateForm()" class="formular"> 
            {% csrf_token %}

            <p>
                <label for="{{ form.from_id.auto_id }}">{{ form.from_id.label }}</label><br>
                {{ form.from_id }}

                <datalist id="from_locations">
                    {% for location in location_list %}
                        <option id={{ location.id }} value="{{ location.zip_code }},{{ location.city }},{{ location.country }}"></option>
                    {% empty %}
                        <option></option>
                    {% endfor %}
                </datalist>
            </p>

            <p>
                <label for="{{ form.to_id.auto_id }}">{{ form.to_id.label }}</label><br>
                {{ form.to_id }}

                <datalist id="to_locations">
                    {% for location in location_list %}
                        <option id={{ location.id }} value="{{ location.zip_code }},{{ location.city }},{{ location.country }}"></option>
                    {% empty %}
                        <option></option>
                    {% endfor %}
                </datalist>
            </p>

            <p>
                <label for="{{ form.departure_time.auto_id }}">{{ form.departure_time.label }}</label><br>
                {{ form.departure_time }}
            </p>

            <p>
                <label for="{{ form.arrival_time.auto_id }}">{{ form.arrival_time.label }}</label><br>
                {{ form.arrival_time }}
            </p>

            <p>
                <label for="{{ form.ldm.auto_id }}">{{ form.ldm.label }}</label><br>
                {{ form.ldm }}
            </p>

            <p>
                <label for="{{ form.weight.auto_id }}">{{ form.weight.label }}</label><br>
                {{ form.weight }}
            </p>

            <p>
                <label for="{{ form.info.auto_id }}">{{ form.info.label }}</label><br>
                {{ form.info }}
            </p>

            <div id="err">
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }} : {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </div>
            <input class="btn btn-primary" id="btn-f2" type="submit" value="{{ form_action_type }}"
                   style="float: right;">
        </form>
    </div>
{% endblock %}

{% block js_content %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/transport_form_functions.js' %}"></script>
{% endblock %}

