{% extends 'base_template.html' %}

{% block title %}Delete branch{% endblock %}

{% block content %}
<br>
<a class="bi bi-arrow-bar-left btn btn-lg" href="{% url 'branch-list' %}" style="margin-left: 350px"></a>
    <div class="container d-flex justify-content-center" style="text-align: left;">
            <br>
        <form method="POST" class="text">
            {% csrf_token %}
            <p>Are you sure you want to delete branch with name "{{ object.name }}"?</p>
            <p>All users under this branch will be delete with it!</p>
            <input class="btn btn-primary" type="submit" value="Delete" style="float: right;"/>
        </form>
    </div>

{% endblock %}
  