{% extends 'base_template.html' %}

{% block title %}Add branch{% endblock %}

{% block static_imports %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock static_imports %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col">
            <a class="bi bi-arrow-bar-left btn btn-lg" id="back" href="{% url 'branch-list' %}"></a>
          </div>
          <div class="col-6" style="text-align: center;">
            <h2>Add new branch</h2>
          </div>
          <div class="col">
          </div>
        </div>
    </div>
    <br>
    
<div class="container d-flex justify-content-center" style="text-align: left; padding: auto;">
    <br>
    <form method="POST" class="formular2">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" id="btn-f2" type="submit" value="Add" >
    </form>
</div>
{% endblock %}