{% extends 'base_template.html' %}

{% block title %}Branches{% endblock %}

{% block content %}
<br>
<div>
    <h2>Branches</h2>
    
    <div class="functions-bar">
        <a class="bi bi-plus-circle btn btn-lg" href="{% url 'branch-add' %}"></a>
  
        <form method="GET">
            <button type="submit" class="search-button"><i class="bi bi-search"></i></button>
            <input class="search-field" type="text" name="search-box" id="s-box" value="{{ search_value }}" placeholder="branch name">
        </form>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Manage</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for branch in object_list %}
            <tr>
                <td>{{ branch.id }}</td>
                <td>{{ branch.name }}</td>
                <td>
                    <a class="bi bi-pencil-fill btn btn-sm" href="{% url 'branch-update' branch.id %}"></a>
                </td>
                <td>
                    <a class="bi bi-gear-fill btn btn-sm" href="{% url 'branch-access' branch.id %}"></a>
                </td>
                <td>
                    <a class="bi bi-x-lg btn btn-sm" href="{% url 'branch-delete' branch.id %}"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include 'pagination.html' %}

{% endblock %}