{% extends 'base_template.html' %}

{% block title %}Update branch{% endblock %}

{% block static_imports %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock static_imports %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <a class="bi bi-arrow-bar-left btn btn-lg" id="back" href="{% url 'branch-list' %}"></a>
      </div>
      <div class="col-6" style="text-align: center;">
        <h2>Update Branch</h2>
      </div>
      <div class="col">
      </div>
    </div>
</div>
<br>
    
<div class="container d-flex justify-content-center" style="text-align: left; padding: auto;">
    <br>
    <form method="POST" class="formular2" onSubmit="return validateForm()">
        {% csrf_token %}
        <p>
          <label for={{ form.last_name.auto_id }} >{{ form.name.label }}</label><br>
          {{ form.name }}
        </p>
        
        <input class="" type="submit" id="btn-f2" value="Update" >

        <div id="err">
          {% for field in form %}
              {% if field.errors %}
                  <li>{{ field.label }} : {{ field.errors|striptags }}</li>
              {% endif %}
          {% endfor %} 
          {% if form.non_field_errors %}
              {{ form.non_field_errors }}
          {% endif %}
      </div>
    </form>
</div>
{% endblock %}

{% block js_content %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/branch_form_functions.js' %}"></script> 
{% endblock %}