{% extends 'base_template.html' %}

{% block title %}Update branch{% endblock %}

{% block static_imports %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock static_imports %}

{% block content %}
{% comment "" %}
<div class="row">
    <div class="col-xl-3 col-md-2 col-sm-1 col-1 p-1" style="text-align: left;">
    <a class="bi bi-arrow-bar-left btn btn-lg" href="{% url 'branch-list' %}"></a>
    </div>
    <div class="col-xl-7 col-md-2 col-sm-1 col-4 p-1" style="text-align: center;"><h2>Update Branch</h2></div>
</div>
{% endcomment %}

<div class="container">
    <div class="row">
      <div class="col">
        <a class="bi bi-arrow-bar-left btn btn-lg" id="back" href="{% url 'branch-list' %}"></a>
      </div>
      <div class="col-6" style="text-align: center;">
        <h2>Update Branch</h2>
      </div>
      <div class="col">
      </div>
    </div>
</div>
<br>
    
<div class="container d-flex justify-content-center" style="text-align: left; padding: auto;">
    <br>
    <form method="POST" class="formular2">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="" type="submit" id="btn-f2" value="Update" >
    </form>
</div>
{% endblock %}