{% extends 'base_template.html' %}

{% block title %}Add group{% endblock %}

{% block static_imports %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <a class="bi bi-arrow-bar-left btn btn-lg" id="back" href="{% url 'group-list' %}"></a>
      </div>
      <div class="col-6" style="text-align: center;">
        <h2>Add Group</h2>
      </div>
      <div class="col">
      </div>
    </div>
</div>
<br>
<div class="container d-flex justify-content-center" style="text-align: left; padding: auto;">
    <br>
    <form action="" method="POST" onSubmit="return validateForm()" class="formular">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="err">
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.label }} : {{ field.errors|striptags }}</li>
                {% endif %}
            {% endfor %} 
        </div>
        <input class="btn btn-primary" id="btn-f2" type="submit" value="{{ form_action_type }}" style="float: right;">
    </form>
    
</div>

{% endblock  %}


{% block js_content %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/group_form_functions.js' %}"></script> 
{% endblock %}