{% extends 'base_template.html' %}

{% block title %}Groups{% endblock %}

{% block content %}
<br>
  <h2>Groups</h2>

    <div class="functions-bar">
      <a class="bi bi-plus-circle btn btn-lg" href="{% url 'group-add' %}"></a>

      <form method="GET">
          <button type="submit" class="search-button"><i class="bi bi-search"></i></button>
          <input class="search-field" type="text" name="search-box" id="s-box" value="{{ search_value }}" placeholder="group name">
      </form>
      {% comment "" %}
      <form method="GET">
        {{filter.form}}
        <button class="bi bi-search btn btn-lg" type="submit"></button>
    </form>
    {% endcomment %}
  </div>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Group Name</th>
            <th>Edit</th>
            <th>Manage</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for group in object_list %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>
                    <a class="bi bi-pencil-fill btn btn-sm" href="{% url 'group-update' group.id %}"></a>
                </td>
                <td>
                    <a class="bi bi-gear-fill btn btn-sm" href="{% url 'group-access' group.id %}"></a>
                </td>
                <td>
                    <a class="bi bi-x-lg btn btn-sm" href="{% url 'group-delete' group.id %}"></a>
                </td> 
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% include 'pagination.html' %}

{% endblock %}
