{% extends 'base_template.html' %}

{% block title %}Delete group access{% endblock %}

{% block content %}
<br>
<a class="bi bi-arrow-bar-left btn btn-lg" href="{{ request.META.HTTP_REFERER }}" style="margin-left: 300px"></a>
    <div class="container d-flex justify-content-center" style="text-align: left; padding: auto;">
            <br>
        <form method="POST" class="text">
            {% csrf_token %}
            <p>Are you sure you want to remove group access to user "{{ user.email }}"?</p>
            <input class="btn btn-primary" type="submit" value="Delete" style="float: right;"/>
        </form>
    </div>
{% endblock %}
  