{% extends 'base_template.html' %}

{% block title %}Add group{% endblock %}

{% block static_imports %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-xl-3 col-md-2 col-sm-1 col-1 p-1" style="text-align: left;">
    <a class="bi bi-arrow-bar-left btn btn-lg" href="{% url 'group-list' %}"></a>
</div>
    <div class="col-xl-7 col-md-2 col-sm-1 col-4 p-1" style="text-align: center;"><h2>Add Group</h2></div>
</div>

<div class="container" style="text-align: left; padding: auto;">
    <br>
    <form action="" method="POST" onSubmit="return validateForm()">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="" type="submit" value="{{ form_action_type }}">
        
        <div id="err">
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.label }} : {{ field.errors|striptags }}</li>
                {% endif %}
            {% endfor %} 
        </div>
    </form>
    
</div>

{% endblock  %}


{% block js_content %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/group_form_functions.js' %}"></script> 
{% endblock %}