{% extends 'base_template.html' %}

{% block title %}Add group access{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <a class="bi bi-arrow-bar-left btn btn-lg" id="back" href="{% url 'group-access' group_id %}"></a>
      </div>
      <div class="col-6" style="text-align: center;">
        <h2>Add access</h2>
      </div>
      <div class="col">
      </div>
    </div>
</div>
<br>

<div class="container d-flex justify-content-center" style="text-align: left;">
    <br>
    <form method="POST" class="formular2">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" id="btn-f2" type="submit" value="Add">
    </form>
</div>
{% endblock %}