{% extends 'base_template.html' %}

{% block title %}Delete group{% endblock %}

{% block nav %} 
    {% include "navbar.html" %}
{% endblock nav %}

{% block content %}
<br>
<a class="bi bi-arrow-bar-left btn btn-lg" href="{% url 'group-list' %}" style="padding-left: 350px"></a>
    <div class="container d-flex justify-content-center" style="text-align: left; padding: auto;">
            <br>
        <form method="POST" class="text">
            {% csrf_token %}
            <p>Are you sure you want to delete group "{{ object.name }}"?</p>
            <p>All users under this group will lost their access of this group!</p>
            <input class="btn btn-primary" type="submit" value="Delete" style="float: right;"/>
        </form>
    </div>

{% endblock %}
  