{% extends 'base_template.html' %}

{% block title %}Groups{% endblock %}

{% block content %}
<br>
    <h2>Groups</h2>
    <a class="bi bi-plus-circle btn btn-lg" href="{% url 'group-add' %}"></a>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Group Name</th>
            <th>Edit</th>
            <th>Manage</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for group in object_list %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>
                    <a class="bi bi-pencil-square btn btn-sm" href="{% url 'group-update' group.id %}"></a>
                </td>
                <td>
                    <a class="" href="{% url 'group-access' group.id %}"><i class="bi bi-gear"></i></a>
                </td>
                <td>
                    <a class="bi bi-x-lg btn btn-sm" href="{% url 'group-delete' group.id %}"></a>
                </td> 
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% comment %} {% extends 'base_template.html' %}

{% block title %}List of Location{% endblock %}

{% block nav %} 
    {% include "navbar.html" %}
{% endblock nav %}

{% block content %}
<br>
<form action="{% url 'delete_group' %}" method="POST">
  {% csrf_token %}
  <h2>List of Groups</h2>
    <br>
    <a class="bi bi-plus-circle btn btn-lg" href="{% url 'add_group' %}"></a>
    <button class="bi bi-trash3-fill btn btn-lg" style="font-size: 1.6rem;" type="submit"></button>
<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Group</th>
        <th scope="col">Branches</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>

      {% for group in groups %}

        <tr>
          <td>{{group.id}}</td>
          <td>{{group.group_name}}</td>
          <td>{{group.branch_id.branch_name}}</td>
          <td><a class="bi bi-eye-fill btn btn-sm" href="{% url 'update_group' group.id %}"></a></td>
          <td><input href="" class="form-check-input" type="checkbox" name="data" id="data" value={{group.id}}></td>
        </tr>
      
      {% endfor %}
    </tbody>

  </table>
</form>
  {% endblock  %} {% endcomment %}