.container {
    margin: auto;
    text-align: center;
  }

.form-class {
    border: 1px solid #e7e7e7;
    margin: 80px auto;
    width: 300px;
    padding: 40px 40px 40px 40px;
  }
  

.input-box {
    display: block;
    position: relative;
}

input {
    background: none;
    outline: none;
}
