/* colors variable */
:root {
    --blue: #0b0bdb;
}


/* form style */
.form-class {
  padding: 40px 40px 40px 40px;
}

form div {
    padding: 5px;
}

input {
    background: none;
    outline: none;
}

input[type=text], input[type=date], input[type=time], input[type=number]
{
  border:none;
  background-color: white;
  border-bottom: 2px solid rgb(99, 99, 99);
  border-radius: 0;
}

.bottom-links a {
    text-decoration: none;
}

.bottom-links a:hover {
    color: var(--blue);
}

.input {
    width: 300px;
    padding: auto;
}

.label {
    padding-right: 20px;
}

.label2 {
    padding-right: 26px;
}

.label3 {
    padding-right: 17px;
}

.label4 {
    padding-right: 8px;
}

.input-box label {
    color: black;
}
