{% extends 'base_template.html' %}

{% block title %}Update user{% endblock %}

{% block nav %} 
    {% include "navbar.html" %}
{% endblock nav %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <a class="bi bi-arrow-bar-left btn btn-lg" id="back" href="{% url 'user-list' %}"></a>
      </div>
      <div class="col-6" style="text-align: center;">
        <h2>Update User</h2>
      </div>
      <div class="col">
      </div>
    </div>
</div>
<br>

<div class="container d-flex justify-content-center" style="text-align: left; padding: auto;">
    <br>
    <form method="POST" action="" class="formular2">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" id="btn-f2" type="submit" value="Add" style="float: right;">
    </form>
</div>
{% endblock %}