{% extends 'base_template.html' %}

{% block title %}Delete user{% endblock %}

{% block nav %} 
    {% include "navbar.html" %}
{% endblock nav %}

{% block content %}
<br>
<a class="bi bi-arrow-bar-left btn btn-lg" href="{% url 'user-list' %}" style="margin-left: 350px"></a>
    <div class="container d-flex justify-content-center" style="text-align: left; padding: auto;">
            <br>
        <form method="POST" class="text">
            {% csrf_token %}
            <p>Are you sure you want to delete user with email "{{ object.email }}"?</p>
            <input class="btn btn-primary" type="submit" value="Delete" style="float: right;"/>
        </form>
    </div>
{% endblock %}