{% extends 'base_template.html' %}

{% block title %}Update user{% endblock %}

{% block nav %} 
    {% include "navbar.html" %}
{% endblock nav %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <a class="bi bi-arrow-bar-left btn btn-lg" id="back" href="{% url 'user-list' %}"></a>
      </div>
      <div class="col-6" style="text-align: center;">
        <h2>Update User</h2>
      </div>
      <div class="col">
      </div>
    </div>
</div>
<br>

<div class="container d-flex justify-content-center" style="text-align: left;">
    <br>
    <form method="POST" class="formular2" onSubmit="return validateUpdateForm()">
        {% csrf_token %}
      
        <p>
            <label for="{{ form.first_name.auto_id }}">{{ form.first_name.label }}:</label>
            {{ form.first_name }}
        </p>
        <p>
            <label for="{{ form.last_name.auto_id }}">{{ form.last_name.label }}:</label>
            {{ form.last_name }}
        </p>
        <p>
            <label for="{{ form.branch.auto_id }}">{{form.branch.label}}:</label>
            {{ form.branch }}
        </p>
        <p>
            <label for="{{ form.is_active.auto_id }}">{{form.is_active.label}}:</label>
            {{ form.is_active }}
        </p>

        <input class="btn btn-primary" id="btn-f2" type="submit" value="Update">
        <div id="err">
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.label }} : {{ field.errors|striptags }}</li>
                {% endif %}
            {% endfor %} 
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}


{% block js_content %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/user_form_functions.js' %}"></script> 
{% endblock %}