{% extends "base_template.html" %}

{% block title %}Add Location{% endblock %}

{% block nav %} 
    {% include "navbar.html" %}
{% endblock nav %}


{% block content %}
<div class="row">
    <div class="col-xl-3 col-md-2 col-sm-1 col-1 p-1" style="text-align: left;">
    <a class="bi bi-arrow-bar-left btn btn-lg" href="{% url 'location-list' %}"></a>
    </div>
    <div class="col-xl-7 col-md-2 col-sm-1 col-4 p-1" style="text-align: center;"><h2>Add Location</h2></div>
</div>

<div class="container" style="text-align: left; padding: auto;">
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="" type="submit" value="Add">
    </form>
</div>

{% endblock %}