<div class="container-fluid">
    <div class="row">
        <div class="col-xl-9 col-md-7 col-sm-6 col-5 p-1">
            <a class="bi bi-box-arrow-left btn btn-lg" style="font-size: 1.6rem;" href="{% url 'logout' %}"></a>
            <a class="bi bi-person-square btn btn-lg" style="font-size: 1.6rem;" href="{% url 'user-settings' %}"></a>
            <a class="bi bi-map btn btn-lg" style="font-size: 1.6rem;" href="{% url 'transportation-list' %}"></a>
        </div>
        
        {% if request.user.is_superuser %}
            <div class="col-xl-3 col-md-5 col-sm-6 col-7 p-1">
                <a class="bi bi-person-fill btn btn-lg icon" style="font-size: 1.6rem;" href="{% url 'user-list' %}"></a>
                <a class="bi bi-people-fill btn btn-lg" style="font-size: 1.6rem;" href="{% url 'group-list' %}"></a>
                <a class="bi bi-diagram-3 btn btn-lg" style="font-size: 1.6rem;" href="{% url 'branch-list' %}"></a>
                <a class="bi bi-geo-alt btn btn-lg" style="font-size: 1.6rem;" href="{% url 'location-list' %}"></a>
            </div>
        {% endif %}
    </div>
</div>
