<div class="container-fluid">
    <div class="row">
        <div class="col-xl-7 col-md-2 col-sm-1 col-4 p-1">
            <a class="bi bi-person-fill btn btn-lg" style="font-size: 1.8rem;"><i class="bi bi-plus-circle"></i></a>
            <a class="bi bi-person-plus-fill btn btn-lg" style="font-size: 1.8rem;"></a>
            <a class="bi bi-people btn btn-lg" style="font-size: 1.8rem;" href=""></a>
            <a class="bi bi-person-plus btn btn-lg" style="font-size: 1.8rem;" href=""></a>
        </div>
        
        <div class="col-xl-5 col-md-2 col-sm-1 col-4 p-1">
        <form method="GET">
            {{filter.form}}
            <button class="bi bi-search btn btn-lg" type="submit"></button>
        </form>
        </div>
    </div>
</div>
