<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="bi bi-chevron-bar-left" href="?page=1{{ filter }}"></a>
            <a class="bi bi-chevron-double-left" href="?page={{ page_obj.previous_page_number }}{{ filter }}"></a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="bi bi-chevron-double-right" href="?page={{ page_obj.next_page_number }}{{ filter }}"></a>
            <a class="bi bi-chevron-bar-right" href="?page={{ page_obj.paginator.num_pages }}{{ filter }}"></a>
        {% endif %}
    </span>
</div>


